streamlit
torch 
torchvision 
torchaudio
torch-geometric
pandas
numpy
scikit-learn
plotly
networkx
tqdm
joblib
matplotlib
seaborn
optuna
imbalanced-learn
requests
torchvision
tensorflow
faker